.toggle-view-button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50px; /* Add border-radius property to make buttons more round */
    margin: 1rem;
}

.teacher-view {
    margin-bottom: 10rem;
}

.teacher-doc-view {
    padding: 5rem;
    padding-top: 2rem;
    border: solid 1px white;
    background-color: #d9f9ff;
    border-radius: 30px;
}

.teacher-class-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    background-color: #d9f9ff;
    border-radius: 30px;
    padding: 2rem;
    margin: 2rem;
}

.teacher-iframe {
    width: 100vh;
    height: 90vh;
    border: none;
    margin: 2rem;
}

.teacher-group-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.teacher-iframe-group {
    width: 55vh;
    height: 90vh;
    border: none;
    margin: 2rem;
}

.teacher-single-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}